* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#footer {
    background-color: rgba(18, 29, 68, 0.658);
    padding-top: 40px;
}

.divider {
    color: rgb(5, 59, 236);
    background-color: rgb(5, 59, 236);
}

.socialLink {
    color: rgb(5, 59, 236);
}

.socialLink:first-child {
    margin-right: 10px;
}

.socialLink:last-child {
    margin-left: 10px;
}

.socialLink:hover {
    color: white;;
}
.uk-text-small {
    color: blue;
}